.app {
  background-color: #eeeeee;
  padding: 30px 0;
}

.app__heading {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 30px;
}

.user-list {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

.list-head,
.list-item {
  border: 1px solid #333333;
  text-align: left;
  padding: 8px;
}

.empty-item,
.error-msg {
  color: #ff0000;
  font-style: italic;
}

.create-user {
  width: 90%;
  margin: 0 auto;
  text-align: right;
}

.search-user {
  width: 90%;
  margin: 0 auto;
  text-align: right;
  margin-bottom: 30px;
}

.search-user input {
  padding: 5px;
  margin-left: 10px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 25%;
  left: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
