.app {
  background-color: #eeeeee;
  padding: 30px 0;
}

.app__heading {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 30px;
}

.user-list {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

.list-head,
.list-item {
  border: 1px solid #333333;
  text-align: left;
  padding: 8px;
}

.empty-item,
.error-msg {
  color: #ff0000;
  font-style: italic;
}

.create-user {
  width: 90%;
  margin: 0 auto;
  text-align: right;
}

.user-modal {
  position: absolute;
  inset: 25%;
  border: 1px solid #cccccc;
  background: #ffffff;
  overflow: auto;
  border-radius: 4px;
  padding: 35px;
}

.modal-title {
  font-size: 36px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 30px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 5px;
}

.input-group input {
  padding: 10px;
}
